includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - routes
    level: 0
    ignoreErrors:
        - '#PHPDoc tag @var#'
    excludePaths:
        - app/Console/Kernel.php
